{% extends "base" %}
{% block content %}
    <div class="container m-5">
    <h2>{{name}}</h2>
    {% set deleteActionButton = true %}
    {% for action in actions %}
        {% include "action_template" %}
    {% endfor %}
    <a href="/devices/{{id}}/action/new/" class="btn btn-primary">Add new action</a>
    </div>
{% endblock content %}


{% block scripts %}

<script src="/static/js/action_scripts.js"></script>

{% endblock scripts %}
